body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  background: #111;
  color: white;
}
h3,
p,
h6,h2 ,button{
  margin: 0;
}
h2{
  font-size: 58px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom:20px ;
}
.projects,.clients,.faq,.collaborate-section{
  padding-top: 100px;
}
.projects h2,
.faq h2,
.collaborate-section h2 {
  margin-bottom: 20px;
}
.sidebar {
  /* max-width: 344px; */
  position: fixed;
  top: 40px;
  /* left: 0; */

  background: rgb(39, 40, 41);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.avatar-card {
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.avatar-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 80px;
}

.avatar-card .avatar-img {
  max-width: 240px;
  border-radius: 12px;
  object-fit: cover;
}

.avatar-card h2 {
  font-size: 36px;
}

.avatar-card p {
  font-size: 18px;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.socials a {
  margin: 0 5px;
  color: white;
  text-decoration: none;
}
.socials a img {
  max-width: 20px;
}

.socials .btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #a44cff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.main-content {
  margin-left: 452px;
  padding: 20px;
}
.intro h1 {
  font-size: 68px;
}
.intro p {
  font-size: 18px;
}

.intro span,
.projects span,
.clients span {
  color: rgb(145, 75, 241);
}

.stats {
  display: flex;
  gap: 60px;
  margin-top: 20px;
}
.stat-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.stat-item .number {
  font-size: 70px;
  font-weight: 600;
}
.stat-item .text {
  text-transform: uppercase;
  font-size: 16px;
}

.projects .grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  gap: 20px;
}

.project-card {
  background: #222;
  /* padding: 40px; */
  /* text-align: center; */
  border-radius: 20px;
}
.project-card img {
  border-radius: 20px 20px 0 0;
  max-height: 200px;
  width: 100%;
}
.project-card .project-info {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-info h3 {
  font-size: 28px;
}
.project-info p {
  font-size: 16px;
}

/* .clients {
  margin-top: 50px;

} */

.client-info {
  display: flex;
  gap: 20px;
  align-items: center;
}
.client-info img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.clients h2{
 
  margin-bottom: 80px;
}
.testimonial {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.client-info h6 {
  font-size: 24px;
}
.testimonial-text {
  font-size: 18px;
}

.button-arrow-left{
  position: absolute;
  top: -60px;
  right: 50px;
  justify-content: center;
  z-index: 2 !important;
  align-items: center;

  
}
.button-arrow-right{
  position: absolute;
  top: -60px;
  right: 0px;
  justify-content: center;
  z-index: 2 !important;
  align-items: center;
}
.button-arrow-left,
.button-arrow-right {
  border-radius: 50%;
  background: #a44cff;
}
  
.button-arrow-left img, .button-arrow-right img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
  

/* .swiper-button {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  opacity: 1;
  align-items: center;
  top: -60px;
  right: 0px;
  z-index: 2 !important;
} */

/* .faq {
    max-width: 700px;
} */


.faq h2 span {
    color: #a44cff;
}

.faq-item {
    background: #222;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.faq-text {
    color: white;
    font-size: 1rem;
}

/* Icon container */
.faq-icon {
    width: 20px;
    height: 20px;
}

/* Xoay ảnh icon */
.faq-icon img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 20px;
}

.faq-answer p {
    margin: 15px 0;
    color: #bbb;
    font-size: 0.95rem;
}

.faq-item.active .faq-answer {
    max-height: 500px;
}


.faq-item.active .faq-icon img {
    transform: rotate(180deg);
}


.collaborate-card {
    background: #1e1e1e;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}
.collaborate-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


.collaborate-text h2 span {
   color:  rgb(145, 75, 241);
}

.collaborate-text p {
   font-size: 18px;
   color: rgb(217, 217, 217);
}

.collaborate-icon {
    background: #b057ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    
}
.collaborate-icon img {
    max-width: 34px;
    object-fit: cover;
  
}
.collaborate-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

.collaborate-footer p {
    color: #999;
    font-size: 0.8rem;
}

.collaborate-footer a {
    color: #b057ff;
    text-decoration: none;
}

.footer-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.footer-buttons button {
    background: #fff;
    color:#111;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
}

.btn.purple {
    background: #b057ff;
}

.btn.small {
    font-size: 0.75rem;
}

